


<!DOCTYPE html>
<html lang="en">
  <head>  
        <title>{% block title %}Git Deploy{% endblock %}</title>

    <meta charset="UTF-8">
  <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
        <link href="{{ base_url() }}/assets/css/material.min.css" rel="stylesheet"/>

  <!-- add material css | replace bootstrap.css -->
  <link1 href="{{ base_url() }}/assets/css/material.min.css" rel="stylesheet">

	{% block head %}{% endblock %} 


</head>
  <body >
 
 	<div class="container">
 		<div class="row h-100">
  <div class="col-lg-12  my-auto">
   {% block body %}{% endblock %}
  </div>
   
</div></div>
  <footer class="footer sticky-footer9" style="padding-top: 20px;">
            <div class="container-fluid text-center">
                
                    © <a href="http://scriptburn.com">ScriptBurn</a>  {{ "now"|date("Y") }} <a href="https://github.com/scriptburn/git-auto-deploy">git-auto-deploy</a>

                 
            </div>
        </footer>
         <!-- js -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <!-- add material js on top of bootstrap.js -->
    <script src="{{ base_url() }}/assets/js/material.min.js"></script>
    	{% block foot %}{% endblock %} 


  </body>
</html>